<?xml version='1.0' encoding='utf-8'?>
<widget id="com.neonorbit.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Neon Orbit</name>
    <description>Ultra Fast Space Game</description>
    <author email="darab@example.com">Darab Sheikh</author>
    <content src="index.html" />
    <preference name="Fullscreen" value="true" />
    
    <preference name="ADMOB_APP_ID" value="ca-app-pub-6713917529499757~9980872039" />
</widget>
